
.listContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;



    
}

.itemstyling{
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: 3%;


}

.item-container {
    
 width: 15em; 

}

img {
    width : 200px;
    height : 200px;
}
.timelabel{
    display : flex;
    flex : row;
}

.paddingtime{

margin-left : -35px;
}
/* .columndisplay{
    

} */